<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd"> 
<html lang="en"> 
	<head>
		<script>
			function refreshView() {
				var value = document.getElementById('parameter-type').value;
				var parameterСountry = document.getElementById('parameter-country');
				var parameterСhannel = document.getElementById('parameter-channel');
				var parameterSubnet = document.getElementById('parameter-subnet');
				parameterСountry.style.display = value == "0" ? "inline" : "none";
				parameterСhannel.style.display = value == "1" ? "inline" : "none";
				parameterSubnet.style.display = value == "2" ? "inline" : "none";
			}
			function redirect() {
				var filterBy = document.getElementById('parameter-type').value;
				filterValues = [
									document.getElementById('parameter-country').value,
									document.getElementById('parameter-channel').value,
									document.getElementById('parameter-subnet').value
								];
				filterValue = filterValues[filterBy];
				window.location.href = "{{HOST}}:{{PORT}}/mapping_table/"+ filterBy +"/" + filterValue + "/";
			}
		</script>
		{% load static %}
		<link rel="stylesheet" href="{% static "css/mapping_table.css" %}">
		<meta http-equiv="content-type" content="text/html; charset=utf-8"> 
		<title>Start Page</title>
	</head> 
	<body onload="refreshView()">
		<div id="buttons-panel">
			<button onclick="redirect()">Request</button>
			<select class="combobox" id="parameter-type" name="filter_by" onchange="refreshView();">
				<option value="0">Country</option>
				{% if filter_by == '1' %}
  					<option value="1" selected>Channel</option>
				{% else %}
					<option value="1">Channel</option>
				{% endif %}
				{% if filter_by == '2' %}
  					<option value="2" selected>Subnet</option>
				{% else %}
					<option value="2">Subnet</option>
				{% endif %}
			</select>
			<select class='combobox' id='parameter-country' name='filter_value'  style='display: inline;'>
  				{% for row in countries %}
					{% if filter_value == row.id %}
						<option value='{{row.id}}' selected>{{row.country_iso_code}}</option>
					{% else %}
						<option value='{{row.id}}'>{{row.country_iso_code}}</option>
					{% endif %}
    			{% endfor %}
			</select>
			<select class='combobox' id='parameter-channel' name='filter_value1' style='display: none;'>
  				{% for row in channels %}
					{% if filter_value == row.id %}
        				<option value='{{row.id}}' selected>{{row.channel}}</option>
					{% else %}
						<option value='{{row.id}}'>{{row.channel}}</option>
					{% endif %}
    			{% endfor %}
			</select>
			<select class='combobox' id='parameter-subnet' name='filter_value2' style='display: none;'>
  				{% for row in subnets %}
					{% if filter_value == row.id %}
        				<option value='{{row.id}}' selected>{{row.address}}</option>
					{% else %}
						<option value='{{row.id}}'>{{row.address}}</option>
					{% endif %}
    			{% endfor %}
			</select>
			<span id="request-time">Request time: {{time}} ms</span>
		</div>
		<div id="table">
			<div class="row header">
				<span class="cell number">№</span>
				<span class="cell county">Country</span>
				<span class="cell ip">IP</span>
				<span class="cell channel">Channel</span>
			</div>
			{% for row in table_result %}
				<div class="row">
					<span class="cell number">{{ forloop.counter }}</span>
					<span class="cell county">{{row.country_iso_code}}</span>
					<span class="cell ip ipv{{row.ip_version}}" title="IPv{{row.ip_version}}">{{row.ip}}</span>
					<span class="cell channel">{{row.channel}}</span>
				</div>
			{% endfor %}
		</div>
	</body> 
</html>