span.cell {
    display: table-cell;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 3px;
    text-align:  center;
}

.row {
    display: table-row;
}

.header {
    background: #e4ebef;
}

.header span.cell {
    color: #2e00ff
}

#table {
    margin-top: 20px;
}

button {
    border:1px solid gray;
    text-decoration:  none;
    border-radius: 5px;
    width: 68px;
    height: 32px;
    position: absolute;
    padding:  5px;
    color:  black;
}

.combobox {
    position: relative;
    left: 100px;
    height: 32px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid gray
}

.ipv6 {
    font-weight: bold;
}

#request-time {
    display: inline;
    position: relative;
    padding-left: 20px;
    left: 100px;
}