p {
    color: #6ea16e;
    font-size: 20px;
    display: inline;
}

.spinner {
    margin-left: 20px;
    font-size: 20px;
    font-weight: bold;
    transform: rotateZ(500deg);
    transition: 3.5s 1s transform ease;
    position: absolute;
}