<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd"> 
<html lang="en"> 
	<head>
		{% load static %}
		<link rel="stylesheet" href="{% static "css/import_csv.css" %}">
		<meta http-equiv="content-type" content="text/html; charset=utf-8"> 
		<title>Start Page</title>
		<script>
			function redirect() {
				window.location.href = "{{HOST}}:{{PORT}}/mapping_table/0/0/";
			}
		</script>
	</head> 
	<body onload="setTimeout(redirect, 3000); document.getElementById('spinner').className = 'spinner';">
	<!--<body>-->
		<p>CSV file is successfully imported!</p>
		<p>You can now filter results</p>
		<span id="spinner" class="">+</span>
	</body>
</html>