<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd"> 
<html lang="en"> 
	<head>
		{% load static %}
		<link rel="stylesheet" href="{% static "css/start.css" %}">
		<meta http-equiv="content-type" content="text/html; charset=utf-8"> 
		<title>Start Page</title>
	</head> 
	<body> 
		<p>First you should import the given csv file</p>
		<a href="import_csv/" class="button">Import CSV</a>
	</body> 
</html>